.section {
  @apply text-customGray;
}

.OurTestSection {
  @apply text-customGray md:px-8;
}

.divSection {
  @apply grid w-full gap-10 xl:gap-0 grid-cols-1 md:grid-cols-2 items-center;
}

.h1 {
  @apply max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl;
}

.pInitial {
  @apply max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl text-customGray;
}

.buttonTest {
  @apply flex 
  flex-wrap 
  items-center 
  text-white 
  bg-purple-700 
  hover:bg-white 
  hover:text-purple-700 
  transition duration-300  
  font-medium 
  rounded-lg 
  md:mr-0 

  focus:outline-none 
  border-2 
  border-transparent 
  hover:border-purple-700
  text-2xl sm:text-3xl 
  py-2 px-4 md:px-12 md:py-6;
}

.buttonStartTest {
  @apply hidden
  lg:flex
  w-full
  justify-center
  text-white
  bg-purple-700
  hover:bg-white
  hover:text-purple-700
  transition duration-100
  font-medium
  rounded-lg

  focus:outline-none
  border-2
  border-transparent
  hover:border-purple-700
  text-base
  py-2 px-4;
}

.buttonStartTestQuestions {
  @apply flex
  w-full
  justify-center
  text-white
  bg-purple-700
  hover:bg-white
  hover:text-purple-700
  transition duration-100
  font-medium
  rounded-lg

  focus:outline-none
  border-2
  border-transparent
  hover:border-purple-700
  text-base
  py-2 px-4;
}

.buttonStartTestMobile {
  @apply flex
  sm:hidden
  w-full
  justify-center
  text-white
  bg-purple-700
  hover:bg-white
  hover:text-purple-700
  transition duration-100
  font-medium
  rounded-lg

  focus:outline-none
  border-2
  border-transparent
  hover:border-purple-700
  text-base
  py-2 px-4;
}

.numbersWrapper {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr 1fr .25fr 1fr .25fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 2.5%;
  padding-right: 2.5%;
  @apply block sm:grid
}

.divNumber {
  grid-area: span 1 / span 1 / span 1 / span 1;
  border-top: 1px solid #b5aba1;
  padding: 20px;
}

.numberWrapper {
  align-items: center;
  display: flex;
}

.highlightNumber {
  text-align: left;
  margin-bottom: 10px;
  font-family: Agatho, sans-serif;
  font-size: 70px;
  line-height: 1em;
  display: inline-block;
  color: #666;
}

.subtitleMedium {
  letter-spacing: .0325em;
  text-transform: none;
  margin-bottom: 0;
  font-family: Agatho, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: #666;
  @apply text-start sm:text-center
}

.divVerticalDivider {
  align-self: center;
  justify-self: center;
  width: 1px;
  height: 100%;
  background-color: #b5aba1;
}
