.menuLink {
  @apply block py-2 pl-3 pr-4 text-black border-b border-gray-100 
    hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 
    lg:p-0
    relative
    before:absolute before:left-0 before:bottom-0 before:w-0 before:h-[2px] 
    before:bg-purple-700 before:transition-all before:duration-300
    hover:before:w-full
    text-center;
}

.menuLinkMobile {
  @apply block 
  px-5 py-4 
  rounded-lg 
  text-black
  border-b 
  border-gray-100
  hover:bg-gray-50 
  lg:hover:bg-transparent 
  lg:border-0 
  lg:hover:text-purple-700 
  lg:p-0;
}
